<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
    <p>Nhấn vào link bên dưới để  đặt lại mật khẩu tại <b>J2RUN</b>:</br></p>
    <a href='{{ link }}'>{{ link }}</a>
</body>
</html>