
$font: Manrope, Roboto;

@use 'vuetify' with (
  $heading-font-family: $font,
  $body-font-family: $font,
);

@import "@mdi/font/css/materialdesignicons.css";
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --header-background: #37517e;
  --header-text: #ffffff;
  --background-1: #f5f5f5;
}

.gap-5 {
  gap: 5px;
}

@font-face {
  font-family: ADLaM_Display;
  src: url('@/assets/fonts/ADLaM_Display/ADLaMDisplay-Regular.ttf');
}

@font-face {
  font-family: Unbounded;
  src: url('@/assets/fonts/Unbounded/static/Unbounded-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Manrope;
  src: url("@/assets/fonts/Manrope/static/Manrope-Light.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("@/assets/fonts/Manrope/static/Manrope-Regular.ttf") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Manrope;
  src: url("@/assets/fonts/Manrope/static/Manrope-SemiBold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
}

.font-unbounded {
  font-family: Unbounded !important;
  font-weight: 600;
}

.lh-60 {
  line-height: 60px;
}

.lh-36 {
  line-height: 36px;
}

.font-logo {
  font-family: ADLaM_Display;
}

.color-hb {
  color: var(--header-background);
}

.font-16 {
  font-size: 16px !important;
}

.color-link-1 {
  color: #00a035;
  span {
    color: #00a035;
  }
}

.color-link-2 {
  color: var(--header-background);
  span {
    color: var(--header-background);
  }
}

.line-bottom  {
  display: inline-block;
  position: relative;
  &::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 90%;
    height: 1px;
    background-color: #ccc;
    left: 5%;
    bottom: -10px;
  }
  &::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 30%;
    height: 3px;
    background-color: #47b2e4;
    left: 35%;
    bottom: -11px;
  }
}

// fix width: auto - modal vuetify
@media screen and (max-width: 400px) {
  .v-overlay__content {
    width: calc(100% - 48px) !important;
    max-width: calc(100% - 48px) !important;
  }
}

// responsive font size
html {
  font-size: 90%;
  @media only screen and (min-width: 600px) {
      font-size: 94%;
  }
  @media only screen and (min-width: 1000px) {
      font-size: 98%;
  }
  @media only screen and (min-width: 1200px) {
      font-size: 100%;
  }
}

// remove opacity plain button
.v-btn--variant-plain {
  opacity: 1 !important;

  &:hover {
    text-shadow: 1px 1px 4px #ccc;
  }
}

.tooltip-menu-custom {
  transform: translateX(-10px);
  border-radius: 20px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: var(--header-background) !important;
  padding: 4px 20px !important;
}